

absl-py==0.13.0
aiobotocore==1.3.0
aioitertools 
alabaster==0.7.12
anyio 
appdirs 
argon2-cffi 
asn1crypto 
astropy 
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites 
attrs 
autovizwidget==0.19.0
Babel 
backcall 
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4 
bitarray 
##bkcharts==0.2
black
bleach 
bokeh 
boto==2.49.0
Bottleneck 
brotlipy==0.7.0
cached-property==1.5.1
cachetools==4.2.2
certifi==2020.12.5
cffi 
chardet 
click ##==7.1.2
cloudpickle 
colorama 
contextlib2==0.6.0.post1
coverage 
cryptography 
cycler==0.10.0
Cython 
cytoolz==0.11.0
dask 
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.4
docutils 
entrypoints 
environment-kernels==1.1.1
et-xmlfile==1.0.1
fastcache 
filelock 
Flask==1.1.2
Flask-Cors==3.0.10
flatbuffers==1.12
fsspec==2021.4.0
gast==0.3.3
gevent 
glob2==0.7
google-auth==1.33.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet 
grpcio==1.32.0
h5py ##==2.10.0
HeapDict==1.0.1
html5lib 
hypothesis 
idna 
imagecodecs 
imagesize==1.2.0
importlib-metadata 
imutils==0.5.3
iniconfig 
ipykernel 
ipyparallel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
isort 
itsdangerous==1.1.0
jdcal==1.4.1
jedi 
jeepney 
Jinja2 
jmespath 
joblib 
json5 
jsonschema 
##Keras-Preprocessing==1.1.2
keyring 
kiwisolver 
#krb5==0.3
#kerberos==1.3.0
lazy-object-proxy 
libarchive-c 
llvmlite==0.35.0
locket==0.2.0
lxml==4.6.3
Markdown==3.3.4
MarkupSafe 
matplotlib==3.5.3 #3.5.2 
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune 
mock 
more-itertools 
mpmath 
msgpack 
multidict 
multipledispatch==0.6.0
multiprocess==0.70.12.2
mypy-extensions 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk==3.4.4
nose 
numexpr 
numpy ##==1.20
numpydoc 
oauthlib==3.1.1
olefile 
opencv-python ##==4.1.2.30 #4.4.0.42== #4.5.1.48
openpyxl 
##opt-einsum==3.3.0
packaging 
pandas<=1.3.5 ##1.2.2
pandocfilters==1.4.2
parso 
partd==1.1.0
path 
pathlib2 
pathos==0.2.8
pathspec 
patsy==0.5.1
pep8==1.7.1
pexpect 
pickleshare 
Pillow==8.3.1
pkginfo 
plotly==5.1.0
pluggy==0.13.1
ply==3.11
pooch 
pox==0.3.0
ppft==1.6.6.4
prometheus-client 
prompt-toolkit 
protobuf==3.15.2
protobuf3-to-dict==0.1.5
psutil 
ptyprocess 
py 
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle 
pycosat 
pycparser 
pycrypto 
pyflakes==2.2.0
pyfunctional==1.4.3
pygal==2.4.0
Pygments 
pyinstrument==3.4.2
pyinstrument-cext==0.2.4
pylint==2.9.5
pyodbc 
pyOpenSSL 
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent 
PySocks 
pytest==6.2.2
pytest-arraydiff==0.3
pytest-astropy 
pytest-astropy-header==0.1.2
pytest-cov 
pytest-doctestplus 
pytest-filter-subpackage 
pytest-mock 
pytest-openfiles 
pytest-remotedata 
python-box
python-dateutil==2.8.1
pytz 
PyWavelets 
PyYAML==5.4.1
pyzmq 
QtAwesome 
QtPy==1.9.0
regex 
rope 
rsa==4.7.2
s3fs==2021.4.0
s3transfer==0.3.7
scikit-image==0.18.1
scikit-learn 
scipy 
seaborn 
SecretStorage 
Send2Trash==1.5.0
#setuptools<=58.4 #numpy is pinned to 59.2
shap==0.39.0
simplegeneric==0.8.1
six 
sklearn==0.0
slicer==0.0.7
smclarify 
smdebug==1.0.11
smdebug-rulesconfig==1.0.1
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
sparkmagic==0.15.0
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy 
statsmodels 
streamlit==0.73.1
sympy 
tables 
tabulate==0.8.9
tblib==1.6.0
tenacity==8.0.1
tf-explain==0.2.1 #0.1.0, 0.2.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator 
tensorflow-gpu==2.4
#tensorflow-serving-api==2.4.2
termcolor==1.1.0
terminado 
testpath==0.4.4
threadpoolctl 
tifffile 
toml 
toolz 
tornado 
tqdm 
traitlets 
typed-ast 
typing-extensions 
unicodecsv==0.14.1
urllib3==1.26.6
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension 
wrapt 
wurlitzer 
xlrd 
XlsxWriter 
xlwt==1.3.0
yarl 
zict==2.0.0
zipp 
zope.event 
zope.interface 

